@model Reminderv10.Models.Medicine


<h4>Create a Medicine Reminder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="MedicineName" class="control-label"></label>
                <input asp-for="MedicineName" class="form-control" />
                <span asp-validation-for="MedicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineDose" class="control-label"></label>
                <input asp-for="MedicineDose" class="form-control" />
                <span asp-validation-for="MedicineDose" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div display="vertical">
                @for (var i = 0; i <= 6; i++)
                {
                    string[] days = { "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar" };
                    <input name="Days" type="checkbox" value="@i" /> @days[i]

                    <br />
                }
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
